.header-container {
  --burger-color: var(--text-color);
  --bg-color:  #131313;
  background-color: var(--bg-color);
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.0625rem;
  padding: 0.625rem 6%;
  height: 4.375rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
li, a, button {
  text-decoration: none;
  color: var(--text-color);
  transition: all 0.3s ease;
}
a:focus {
  box-shadow: none;
}
.regular-link {
  background: #7F7FD5;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, white, white 40% ,#91EAE4 60%, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, white, white 40% ,#91EAE4 60%, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: 500%;
  background-position: left;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -mo-text-fill-color: transparent;
  font-weight: 600;
  -mo-text-fill-color: transparent;
  transition: background-position 0.5s ease;
}
.regular-link:hover {
  background-position: right;
}
.header-burger > div{
  width: 1.5625rem;
  height: 0.125rem;
  background-color: var(--burger-color);
  margin: 0.3125rem 0rem;
}
.header-burger:hover {
  --burger-color: var(--hover-color);
  cursor: pointer;
}
.right-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header-burger, .right-header {
  width: calc(50% - (1.5625rem / 2));
}
.left-header {
  order: 1;
}
.header-burger {
  order: 0;
}
.right-header {
  order: 3;
}
@media(max-width: 31.5625rem) {
  .header-burger, .right-header {
    width: initial;
  }
}
@media(max-width: 26.25rem){
  .user-unknown-bnt {
    padding: 0.3125rem 0.45rem;
    font-size: 1rem;
  }
  .header-burger {
    margin-right: 0.6rem;
  }
}
.header-nav-list > a {
  font-size: 1.25rem;
}
.header-nav-list {
  background-color: var(--bg-color);
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: var(--min-page-width);
  left: 0rem;
  top: 4.3125rem;
  --header-nav-list: translateX(-100%);
  transform: var(--header-nav-list);
}
.header-nav-list-toggle {
  --header-nav-list: translateX(0%);
  z-index: 999;
}
@media(min-width: 54.6875rem) {
  .header-burger {
    display: none;
  }
  .left-header, .right-header {
    width: initial;
  }
  .header-container {
    justify-content: flex-start;
  }
  .right-header {
    justify-content: space-between;
    width: 100%;
    margin-left: 2rem;
  }
  .header-nav-list {
    background-image: initial;
    position: initial;
    display: initial;
    flex-direction: initial;
    width: initial;
    min-width: initial;
    left: initial;
    top: initial;
    --header-nav-list: translateX(0%);
  }
  .header-nav-list-toggle {
    --header-nav-list: translateX(0%);
  }
}
