.header-container {
  --burger-color: #edf0f1;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.0625rem;
  padding: 0.625rem 6%;
  height: 4.375rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
li, a, button {
  text-decoration: none;
  color: #edf0f1;
  transition: all 0.3s ease 0ms;
}
a:hover {
  color: #C2B4D6;
}
.header-burger > div{
  width: 1.5625rem;
  height: 0.125rem;
  background-color: var(--burger-color);
  margin: 0.3125rem 0rem;
}
.header-burger:hover {
  --burger-color: #C2B4D6;
  cursor: pointer;
}
.right-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header-burger, .right-header {
  width: calc(50% - (1.5625rem / 2));
}
.left-header {
  order: 1;
}
.header-burger {
  order: 0;
}
.right-header {
  order: 3;
}
@media(max-width: 29.9375rem) {
  .header-burger, .right-header {
    width: initial;
  }
}
@media(max-width: 26.25rem){
  .user-unknown-bnt {
    padding: 0.3125rem 0.45rem;
    font-size: 0.95rem;
  }
}
.header-nav-list > a {
  font-size: 1.25rem;
}
.header-nav-list {
  background-image: linear-gradient(to right ,#433E49,#433E49 50%,#333D51);
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: var(--min-page-width);
  left: 0rem;
  top: 4.3125rem;
  --header-nav-list: translateX(-100%);
  transform: var(--header-nav-list);
}
.header-nav-list-toggle {
  --header-nav-list: translateX(0%);
}

@media(min-width: 54.6875rem) {
  .header-burger {
    display: none;
  }
  .left-header, .right-header {
    width: initial;
  }
  .header-container {
    justify-content: flex-start;
  }
  .right-header {
    justify-content: space-between;
    width: 100%;
    margin-left: 2rem;
  }
  .header-nav-list {
    background-image: initial;
    position: initial;
    display: initial;
    flex-direction: initial;
    width: initial;
    min-width: initial;
    left: initial;
    top: initial;
    --header-nav-list: translateX(0%);
  }
  .header-nav-list-toggle {
    --header-nav-list: translateX(0%);
  }
}
