<div class="footer-container">
  <div class="links">
    <div class="footer-link-wrapper">
      <div class="footer-link-items">
        <div class="item-header">About Us</div>
        <a href="/sign__up">How it works</a> <a href="/">Testimonials</a>
        <a href="/">Careers</a> <a href="/">Terms of Service</a>
      </div>
      <div class="footer-link-items">
        <div class="item-header">Contact Us</div>
        <a href="/">Contact</a> <a href="/">Support</a>
        <a href="/">Destinations</a>
      </div>
    </div>
    <div class="footer-link-wrapper">
      <div class="footer-link-items">
        <div class="item-header">Videos</div>
        <a href="/">Submit Video</a> <a href="/">Ambassadors</a>
        <a href="/">Agency</a>
      </div>
      <div class="footer-link-items">
        <div class="item-header">Social Media</div>
        <a href="/">Instagram</a> <a href="/">Facebook</a>
        <a href="/">Youtube</a> <a href="/">Twitter</a>
      </div>
    </div>
  </div>
  <div class="social-media">
      <app-svg-image></app-svg-image>
      <div class="social-media-text" a>
        © Globy 2020. All rights reserved
      </div>
      <div class="social-media-icons">
        <a href="/" class="social__icon--link" target="_blank"><i class="fab fa-facebook"></i></a>
        <a href="/" class="social__icon--link"><i class="fab fa-instagram"></i></a>
        <a href="/" class="social__icon--link"><i class="fab fa-youtube"></i></a>
        <a href="/" class="social__icon--link"><i class="fab fa-linkedin"></i></a>
        <a class="social__icon--link" href="/"><i class="fab fa-twitter"></i></a>
      </div>
  </div>
</div>
