<div class="entities-container">
  <app-catalog-header class="catalog-header"></app-catalog-header>
  <app-edit-main-category class="editable-component" [mainCategories]="mainCategoriesWithEverything"></app-edit-main-category>
  <app-edit-manufacturer class="editable-component" [manufacturers]="manufacturers"></app-edit-manufacturer>
  <app-edit-sub-category class="editable-component" [mainCategories]="mainCategoriesWithEverything"></app-edit-sub-category>
  <app-edit-product-category class="editable-component" [mainCategories]="mainCategoriesWithEverything"></app-edit-product-category>
</div>
