<div>
  <div class="catalog-header-categories">
    <app-main-category *ngFor="let category of mainCategories" [mainCategory]="category"
                       (click)="onMainCategorySelect(category)"
                       class="catalog-header-category"
                       [ngClass]="{'selectedMainCategory': selectedMainCategory == category && !subsHidden}">
    </app-main-category>
  </div>

  <app-catalog-subcategories
    class="catalog-subcategories"
    [subcategories]="selectedSubcategories"
    [hidden]="subsHidden"
    [selectedSubCategory]="selectedSubcategory">
  </app-catalog-subcategories>
</div>
