.catalog-header-categories {
  display: flex;
  justify-content: stretch;
  color: #EFEFEF;
  background: #b92b27;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #1565C0, #b92b27);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #1565C0, #b92b27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.catalog-header-category {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.3125rem;
  border: 1px solid #131313;
  border-left: initial;
  border-bottom-color: transparent;
  transition: all 0.3s ease, padding-bottom 0s, border-bottom-width 0s;
}
.catalog-header-category:last-child {
  border-right: initial;
}
.category-name {
  padding-top: 0.3rem;
  font-size: 0.8rem;
  display: flex;
  text-align: center;
  min-height: 2rem;
  height: 100%;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}
.category-image {
  padding-top: 0.3125rem;
}
svg {
  max-width: 2.5rem;
  max-height: 2.5rem;
}

@media(min-width: 54.625rem) {
  .catalog-header-category:hover, .selectedMainCategory {
    background-color:rgba(0,0,70,0.3);
    cursor: pointer;
    border-top: 2px solid #EFEFEF;
    padding-top: 0.25rem;
    transition: all 0.3s ease, padding-bottom 0s, border-bottom-width 0s;
  }
}
@media(max-width: 54.625rem) {
  .catalog-header-categories {
    flex-direction: column;
  }
  .catalog-header-category {
    border-top: none;
    border-right: none;
  }
}
