<form class="input-container" [formGroup]="parentFormGroup">
  <mat-form-field appearance="fill">
    <mat-label>Manufacturer</mat-label>
    <input
      matInput
      [formControl]="manufacturerNameFormControl"
      name="manufacturer-name"
      [matAutocomplete]="manufacturer"
      id="manufacturer-name">
    <mat-error *ngIf="manufacturerNameFormControl?.invalid && manufacturerNameFormControl?.dirty">
      No such manufacturer
    </mat-error>
    <mat-autocomplete #manufacturer="matAutocomplete">
      <mat-option *ngFor="let manufacturer of filteredManufacturerNames | async" [value]="manufacturer">
        {{manufacturer}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <input hidden [formControl]="manufacturerFormControl" name="manufacturer" id="manufacturer">
  <button class="btn btn-secondary datalist-button" (click)="onAddManufacturer()">Add</button>
</form>
