<form class="related-form">
  <div class="related-header">
    <div class="header-text-wrapper">
      <span class="header-text">CATALOG MAIN CATEGORY</span>
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-dark">Add</button>
        <button type="button" class="btn btn-dark">Edit</button>
        <button type="button" class="btn btn-delete">Remove</button>
      </div>
    </div>
  </div>

  <div class="input-container">
      <mat-form-field appearance="fill">
        <mat-label>Main category</mat-label>
        <mat-select matNativeControl>
          <mat-option *ngFor="let mainCategory of mainCategories" [value]="mainCategory">{{mainCategory.name}}</mat-option>
        </mat-select>
      </mat-form-field>
  </div>
</form>
