.product-form {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
}
.top-part {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 2rem;
}
.product-header {
  padding-bottom: 2rem;
  display: flex;
  justify-content: space-between;
}
.bottom-part {
  width: 100%;
}
.product-main-info {
  height: 100%;
  width: 43%;
  display: flex;
  flex-direction: column;
}
.product-gallery {
  width: 54%;
}
textarea {
  min-height: 9rem;
}
.header-text {
  font-size: 1.5rem;
  font-weight: 600;
  padding-bottom: 2rem;
}
:host ::ng-deep mat-form-field {
  width: 100%;
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}
:host ::ng-deep label, :host ::ng-deep span {
  height: 100%;
}
:host ::ng-deep.datalist {
  display: flex;
  justify-content: space-between;
}
:host ::ng-deep.datalist-button {
  margin-left: 5%;
}
.btn-dark:disabled {
  background-color: #cfcfcf;
  border-color: #cfcfcf;
}
@media(max-width: 54.625rem) {
  .product-form {
    flex-direction: column;
    align-items: center;
  }
  .product-gallery {
    padding-top: 1rem;
  }
  .product-main-info {
    width: 90%;
  }
  .product-gallery {
    width: 90%;
  }
}
@media(max-width: 34.375rem) {
  .product-form {
    padding: 1.5rem .2rem;
  }
  .header-text-wrapper {
    width: 100%;
    justify-self: center;
    align-self: center;
    text-align: center;
  }
  .product-header {
    align-items: center;
    flex-direction: column;
    justify-content: stretch;
  }
  .header-text-wrapper {
    margin-bottom: 0.5rem;
  }
}
