<form class="product-form" [formGroup]="productForm">

    <div class="product-main-info">
      <div class="product-header">
        <div class="header-text-wrapper"><span class="header-text">PRODUCT INFORMATION</span></div>
        <div class="product-control-buttons">
          <button type="submit" class="btn-dark my-btn" [disabled]="!canSaveChanges()" (click)="onSaveChanges()">Save changes</button>
        </div>
      </div>

      <mat-form-field appearance="fill" >
        <mat-label for="name">Product name</mat-label>
        <input matInput type="text" name="name" id="name" [formControl]="nameFormControl">
      </mat-form-field>

      <app-product-category-input [parentFormGroup]="productForm"></app-product-category-input>

      <app-product-manufacturer-input [parentFormGroup]="productForm"></app-product-manufacturer-input>

      <mat-form-field appearance="fill" >
        <mat-label for="price">Price $</mat-label>
        <input matInput type="number" name="price" id="price" [formControl]="priceFormControl">
      </mat-form-field>

      <mat-form-field appearance="fill" >
        <mat-label for="short-description">Short description</mat-label>
        <textarea matInput type="text" maxlength="150" id="short-description" [formControl]="shortDescriptionFormControl">
        </textarea>
      </mat-form-field>
    </div>

    <app-image-gallery class="product-gallery" [images]="product.images"></app-image-gallery>

</form>
