[mat-dialog-actions] {
  display: flex;
  justify-content: space-around;
}
mat-form-field {
  width: 100%;
}
[mat-dialog-content]{
  text-align: center;
  padding-top: 0.5rem;
}
.edit-btn {
  padding: 2px 8px;
  box-shadow: none;
}
.edit-btn:focus {
  box-shadow: none;
}
