<div class="gallery-header">
  <span class="header-text">PRODUCT IMAGES</span>
  <div class="image-control-buttons">
    <button class="my-btn btn-dark header-btn header-btn-add" (click)="onAddImage()">Add image</button>
    <button class="my-btn btn-dark header-btn" (click)="onEditImage()">Edit</button>
    <button class="my-btn header-btn header-btn-delete" (click)="onDeleteImage()">Delete</button>
  </div>
</div>

<div class="gallery">
  <div class="big-image">
    <img src="{{selectedImage}}">
  </div>
  <div class="image-list" [ngClass]="{'image-list-few-elements': images.length <= 4}">
    <div class="gallery__item"  *ngFor="let image of images; index as i">
      <input
        type="radio"
        class="gallery__selector"
        id="{{'img-' + i}}"
        name="gallery"
        [ngModel]="selectedImage"
        [value]="image.address"
        (change)="onImageChange(i)"/>
      <label for="{{'img-' + i}}"  class="gallery__thumb">
        <img [src]="image.address" alt="" (error)="onInvalidUrl(i)"/>
      </label>
    </div>
  </div>
</div>
