.product-category-container {
  --product-category-border: 1px solid #EFEFEF;
  --product-category-padding: 1.25rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.product-category {
  display: flex;
  align-items: center;
  padding: var(--product-category-padding);
  border-bottom: var(--product-category-border);
  border-right: var(--product-category-border);
}
.product-category:hover {
  background-color: initial;
  background-image: linear-gradient(135deg, #FFF, #FFF 35%, #EFEFEF);
  cursor: pointer;
  border-bottom: 2px solid;
  padding-bottom: calc(var(--product-category-padding) - 1px);
  transition: all 0.1s ease;
}
.product-category-image {
  max-width: 5rem;
  max-height: 5rem;
}
.product-category-text {
  font-size: 0.9rem;
  width: 100%;
  text-align: center;
  margin: auto;
}

