<form class="product-form" (ngSubmit)="onSaveChanges(f)" #f="ngForm">
    <div class="product-main-info">
      <div class="product-header">
        <div class="header-text-wrapper"><span class="header-text">PRODUCT INFORMATION</span></div>
        <div class="product-control-buttons">
          <button type="submit" class="btn-dark my-btn" [disabled]="!f.valid">Save changes</button>
        </div>
      </div>
      <div class="input-container product-name">
        <label for="name">Product name</label>
        <span *ngIf="!name.valid && name.touched" class="validation-message">is invalid</span>
        <input type="text" class="form-control" id="name" name="name" ngModel required #name="ngModel">
      </div>
      <div class="input-container">
        <label for="price">Price</label>
        <span *ngIf="!price.valid && price.touched" class="validation-message">is invalid</span>
        <input type="number" class="form-control" id="price" name="price" ngModel required #price="ngModel">
      </div>
      <div class="input-container">
        <label for="product-category">Product category</label>
        <span *ngIf="!category.valid && category.touched" class="validation-message">is invalid</span>
        <div class="datalist">
          <input class="form-control datalist-input" list="product-category-list" name="productCategory"
                 id="product-category" ngModel required #category="ngModel">
            <datalist id="product-category-list">
              <option *ngFor="let category of productCategories" [value]="category.name">
            </datalist>
          <button class="btn btn-secondary datalist-button">Add</button>
        </div>
      </div>
      <div class="input-container">
        <label for="manufacturer">Manufacturer</label>
        <span *ngIf="!manufacturer.valid && manufacturer.touched" class="validation-message">is invalid</span>
        <div class="datalist">
          <input class="form-control" list="manufacturer-list" id="manufacturer" name="manufacturer"
                 ngModel required #manufacturer="ngModel">
          <datalist id="manufacturer-list">
            <option value="San Francisco">
            <option value="New York">
            <option value="Seattle">
            <option value="Los Angeles">
            <option value="Chicago">
          </datalist>
          <button class="btn btn-secondary datalist-button">Add</button>
        </div>
      </div>
      <div class="input-container">
        <label for="short-description">Short description</label>
        <textarea type="text" maxlength="150" class="form-control" id="short-description"
                  name="shortDescription" ngModel required>
        </textarea>
      </div>
    </div>
    <app-image-gallery class="product-gallery"></app-image-gallery>
</form>
