<div class="current-category">Electronics</div>
<div class="subcategory-container">
  <div class="subs">
    <div class="subcategory">Mobile phones and accessories</div>
    <div class="subcategory">Television and video</div>
    <div class="subcategory">Tablets and e-books</div>
    <div class="subcategory">Audio engineering</div>
    <div class="subcategory">Hi-Fi audio</div>
    <div class="subcategory">Photo and video equipment</div>
    <div class="subcategory">Video games</div>
    <div class="subcategory">Gadgets</div>
    <div class="subcategory">Smart home and video surveillance</div>
    <div class="subcategory">Electric transport</div>
    <div class="subcategory">Telephony and communication</div>
    <div class="subcategory">Musical equipment</div>
    <div class="subcategory">Optical instruments</div>
  </div>
  <div class="product-categories">

  </div>
</div>
