/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins&display=swap');

* {
  --hover-color: #A0D3F9;
  --min-page-width: 20rem;
  --text-color: #EDF0F1;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html, body {
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: 'Poppins', sans-serif;
}
body {
  min-width: var(--min-page-width);
  font-size: 1rem;
}
.bg-peddle-gradient-1 {
  background-image: linear-gradient(to right ,#131313,#131313);
}
img {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.my-btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid white;
  padding: .375rem .625rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

mat-form-field {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 1.2rem;
}
