@use '~@angular/material' as mat;

@include mat.core();
$black: (
  50: #fff,
  100: #fff,
  200: #fff,
  300: #fff,
  400: #fff,
  500: #fff,
  600: #fff,
  700: #fff,
  800: #fff,
  900: #fff,
  A100: #fff,
  A200: #fff,
  A400: #fff,
  A700: #fff,
  contrast: (
    50: #131313,
    100: #131313,
    200: #131313,
    300: #131313,
    400: #131313,
    500: #131313,
    600: #131313,
    700: #131313,
    800: #131313,
    900: #131313,
    A100: #131313,
    A200: #131313,
    A400: #131313,
    A700: #131313,
  )
);
$white: (
  50: #fff,
  100: #fff,
  200: #fff,
  300: #fff,
  400: #fff,
  500: #fff,
  600: #fff,
  700: #fff,
  800: #fff,
  900: #fff,
  A100: #fff,
  A200: #fff,
  A400: #fff,
  A700: #fff
);
$my-primary: mat.define-palette($black, 50, 900);
$my-accent: mat.define-palette(mat.$pink-palette);
$my-warn: mat.define-palette(mat.$red-palette);

$my-theme: mat.define-dark-theme((
  color: (
    primary: $my-primary,
    accent: $my-accent,
    warn: $my-warn,
  ),
));

.my-dark-theme {
  @include mat.core-theme($my-theme);
  @include mat.all-component-themes($my-theme);
  color: white;
}

