<form class="auth-input-container">
  <mat-form-field appearance="fill">
    <mat-label for="username">User name</mat-label>
    <input matInput type="text" name="username" id="username" ngModel required>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label for="password">Password</mat-label>
    <input matInput type="password" id="password" name="password" ngModel required>
  </mat-form-field>
  <button class="my-btn submit-btn">
    Submit
  </button>
  <app-full-screen-loader></app-full-screen-loader>
</form>
