<div mat-dialog-content>
  <h4 class="header-text">
    Add product category
    <button class="btn btn-dark edit-btn" [routerLink]="['/catalog/moderating/product-related/edit']" [mat-dialog-close]="true">Edit</button>
  </h4>

  <mat-form-field appearance="fill">
    <mat-label>Main categories</mat-label>
    <mat-select matNativeControl [(value)]="selectedMainCategory" required>
      <mat-option *ngFor="let mainCategory of mainCategories" [value]="mainCategory">{{mainCategory.name}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Subcategories</mat-label>
    <mat-select matNativeControl required [(value)]="selectedSubCategory">
      <mat-option *ngFor="let subcategory of selectedMainCategory.subCategories" [value]="subcategory.name">{{subcategory.name}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Product category name</mat-label>
    <input matInput [(ngModel)]="productCategoryName">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button class="btn btn-dark" [mat-dialog-close]="true">Add</button>
  <button class="btn btn-danger" (click)="onNoClick()">Cancel</button>
</div>
